

$pt-color: #292929;
$st-color: #ddd;

$gray: #757575;

$black: #111;
$bgp-color: white;
$bgs-color: red;
$bg-blur: rgba(255,255,255,.7);
$btnp-color: yel;
$btns-color: red;
$h1-fs: 32px;
$h2-fs: 22px;
$h3-fs: 20.8px;
$h4-fs: 12.8px;
$h5-fs: 11.2px;
$h6-fs: 10px;

$p-fs: 14px;